<template>
  <section>
    <HeroElement class="lg:mb-64" />
    <AboutElement :ref="observeElement" class="lg:mb-64 animate__animated" />
    <ReviewListComponent
      :ref="observeElement"
      class="lg:mb-20 animate__animated"
    />
  </section>
</template>

<script>
import HeroElement from "@/components/HeroElement";
import AboutElement from "@/components/AboutElement";
import ReviewListComponent from "@/components/ReviewListComponent";
export default {
  name: "HomePage",
  components: {
    ReviewListComponent,
    HeroElement,
    AboutElement,
  },

  setup() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries
          .filter((entry) => entry)
          .map((entry) => {
            entry.target.classList.toggle(
              "animate__fadeIn",
              entry.isIntersecting
            );
            entry.target.classList.toggle(
              "animate__fadeOut",
              !entry.isIntersecting
            );
          });
      },
      {
        threshold: 0.1,
      }
    );
    const observeElement = (el) => {
      if (el) observer.observe(el.$el);
    };

    return {
      observeElement,
    };
  },
};
</script>
