<template>
  <section class="p-10 lg:p-0 lg:flex lg:flex-row lg:items-center">
    <div
      :ref="observeElement"
      class="flex flex-col lg:w-1/2 p-10 lg:pb-32 lg:px-32 lg:pt-14 animate__animated"
    >
      <h4 class="font-bold mb-10">Fiber</h4>
      <h2 class="font-extrabold text-3xl mb-5">Create your Fiber account</h2>
      <BaseInputComponent type="text" placeholder="John Doe" class="mb-5"
        ><template #label>Your Name</template></BaseInputComponent
      >
      <BaseInputComponent
        type="text"
        placeholder="john@example.com"
        class="mb-5"
        ><template #label>E-mail</template></BaseInputComponent
      >
      <BaseInputComponent
        type="password"
        placeholder="At least 8 characters"
        class="mb-5 relative"
        ><template #label>Password</template>
        <template #icon
          ><img
            src="@/assets/images/hide-password.svg"
            alt="Hide password icon"
            class="absolute right-3 translate-y-1/2 cursor-pointer" /></template
      ></BaseInputComponent>
      <div class="flex flex-row items-start mb-5">
        <input type="checkbox" class="mr-3 accent-gray-300" />
        <p>
          By creating an account on Fiber, you agree to the
          <span class="text-purple-700 font-bold underline"
            >Terms & Conditions</span
          >.
        </p>
      </div>
      <ButtonComponent color="purple-bg" class="mb-5"
        >Create Fiber Account</ButtonComponent
      >
      <div class="flex flex-row mx-auto">
        <p>Aleady have an account?</p>
        <ButtonComponent color="purple-text-inline" class="ml-2"
          >Sign in</ButtonComponent
        >
      </div>
    </div>
    <div class="hidden lg:flex lg:flex-col lg:w-1/2 lg:bg-purple-600">
      <div :ref="observeElement" class="p-32 animate__animated">
        <img
          src="@/assets/images/sign-up-image.png"
          alt="Sign up illustration"
          class="mb-5"
        />
        <h3 class="text-purple-50 text-4xl font-extrabold text-center mb-5">
          Unparalleled Templates
        </h3>
        <p class="text-center text-purple-50 mb-5">
          Crafted by a team of professional designers, our templates are
          eunparalleled in the market
        </p>
        <div class="flex gap-x-2 justify-center">
          <div class="rounded-full bg-purple-50 w-3 h-3"><br /></div>
          <div class="rounded-full bg-purple-300 opacity-70 w-3 h-3">
            <br />
          </div>
          <div class="rounded-full bg-purple-300 opacity-70 w-3 h-3">
            <br />
          </div>
          <div class="rounded-full bg-purple-300 opacity-70 w-3 h-3">
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseInputComponent from "@/components/BaseInputComponent";
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "SignUpPage",
  components: { ButtonComponent, BaseInputComponent },

  setup() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries
          .filter((entry) => entry)
          .map((entry) => {
            entry.target.classList.toggle(
              "animate__fadeIn",
              entry.isIntersecting
            );
            entry.target.classList.toggle(
              "animate__fadeOut",
              !entry.isIntersecting
            );
          });
      },
      {
        threshold: 0.1,
      }
    );
    const observeElement = (el) => {
      if (el) observer.observe(el);
    };

    return {
      observeElement,
    };
  },
};
</script>
