<template>
  <div
    class="p-10 lg:p-0 lg:pt-10 md:mx-auto md:max-w-screen-md lg:max-w-screen-lg"
  >
    <div>
      <p class="text-purple-700 font-bold mb-3">Why Fiber?</p>
      <h2 class="font-extrabold text-3xl mb-10 lg:w-1/2">
        A good portfolio means good employability.
      </h2>
      <ProsListComponent class="mb-10" />
      <SecondHeroElementComponent />
    </div>
  </div>
</template>

<script>
import ProsListComponent from "@/components/ProsListComponent";
import SecondHeroElementComponent from "@/components/SecondHeroElementComponent";
export default {
  name: "AboutElement",
  components: { ProsListComponent, SecondHeroElementComponent },
};
</script>
