<template>
  <div class="flex flex-col">
    <label class="font-bold mb-2"><slot name="label" /></label>
    <div @click="handlePasswordButton" v-if="hasIcon">
      <slot name="icon" />
    </div>
    <input
      :placeholder="placeholder"
      :type="innerType"
      class="p-3 border-2 border-gray-200 rounded text-gray-500 outline-none"
    />
  </div>
</template>

<script>
import { computed, ref } from "vue";
export default {
  name: "BaseInputComponent",
  props: {
    placeholder: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },

  setup(props, context) {
    const hasIcon = computed(() => {
      return !!context.slots["icon"];
    });

    const buttonClick = ref(false);
    const innerType = ref(props.type);

    const handlePasswordButton = () => {
      buttonClick.value = !buttonClick.value;

      if (buttonClick.value === true) {
        innerType.value = "text";
      } else {
        innerType.value = "password";
      }
    };

    return {
      hasIcon,
      handlePasswordButton,
      innerType,
    };
  },
};
</script>
