<template>
  <component
    :is="to ? 'router-link' : 'button'"
    :to="to"
    :class="classes"
    class="text-center transition-all ease-in-out delay-75"
  >
    <slot />
  </component>
</template>

<script>
import { computed } from "vue";
export default {
  name: "ButtonComponent",
  props: {
    color: {
      type: String,
      required: false,
    },
    to: {
      type: String,
      required: false,
    },
  },

  setup(props) {
    const classes = computed(() => {
      const classes = [];

      switch (props.color) {
        case "purple-bg":
          classes.push(
            "bg-violet-700 text-white font-bold p-3 rounded block w-full hover:text-violet-50 hover:opacity-75"
          );
          break;
        case "bg-none":
          classes.push(
            "text-violet-700 font-bold underline p-3 block w-full hover:opacity-75"
          );
          break;
        case "white-bg":
          classes.push(
            "bg-white text-violet-700 font-bold p-3 rounded block w-full hover:scale-110"
          );
          break;
        case "border-gray":
          classes.push(
            "border-2 border border-gray-200 text-violet-700 font-bold p-3 rounded block w-full hover:border-violet-200 hover:bg-violet-200 hover:text-violet-700"
          );
          break;
        case "purple-text-inline":
          classes.push("text-purple-700 inline");
          break;
        case "text-black":
          classes.push("font-bold bg-none w-52 hover:opacity-60");
          break;
      }

      return classes;
    });

    return {
      classes,
    };
  },
};
</script>
