<template>
  <div class="flex-row items-center lg:max-w-screen-lg">
    <div class="text-xl font-extrabold">Fiber</div>
    <div class="ml-auto">
      <ul class="flex flex-row gap-x-10">
        <li
          class="cursor-pointer transition-all ease-in-out delay-75 hover:text-violet-700"
        >
          Community
        </li>
        <li
          class="cursor-pointer transition-all ease-in-out delay-75 hover:text-violet-700"
        >
          Pricing
        </li>
        <li
          class="cursor-pointer transition-all ease-in-out delay-75 hover:text-violet-700"
        >
          Features
        </li>
      </ul>
    </div>
    <div class="flex ml-auto lg:w-48">
      <ButtonComponent color="text-black">Sign In</ButtonComponent>
      <ButtonComponent color="purple-bg" to="/sign-up" class="items-stretch"
        >Sign Up</ButtonComponent
      >
    </div>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "DesktopMenuComponent",
  components: { ButtonComponent },
};
</script>
