<template>
  <ul
    v-for="item in list"
    :key="item.id"
    class="mb-10 last-of-type:mb-0 lg:mb-0"
  >
    <li>
      <h3 v-text="item.title" class="font-bold mb-2" />
      <div
        v-for="link in item.links"
        :key="link.id"
        v-text="link.text"
        class="text-gray-500 mb-1 last-of-type:mb-0 cursor-pointer transition-all ease-in-out hover:opacity-70"
      />
    </li>
  </ul>
</template>

<script>
export default {
  name: "FooterLinkListComponent",
  setup() {
    const list = [
      {
        id: 1,
        title: "Sitemap",
        links: [
          { id: 1, text: "Homepage" },
          { id: 2, text: "Pricing" },
          { id: 3, text: "Testimonials" },
          { id: 4, text: "Features" },
        ],
      },
      {
        id: 2,
        title: "Resources",
        links: [
          { id: 1, text: "Support" },
          { id: 2, text: "Contact" },
          { id: 3, text: "FAQ" },
        ],
      },
      {
        id: 3,
        title: "Company",
        links: [
          { id: 1, text: "About" },
          { id: 2, text: "Customers" },
          { id: 3, text: "Blog" },
        ],
      },
      {
        id: 4,
        title: "Portfolios",
        links: [
          { id: 1, text: "Sarah Andrews" },
          { id: 2, text: "Mathew Higgins" },
          { id: 3, text: "Janice Dave" },
        ],
      },
    ];

    return {
      list,
    };
  },
};
</script>
