<template>
  <footer class="bg-amber-50 p-10">
    <div
      class="md:mx-auto md:max-w-screen-md lg:max-w-screen-lg lg:flex lg:flex-row lg:items-center"
    >
      <div class="mb-10 lg:mb-0 lg:w-1/3 lg:mr-auto">
        <h4 class="font-bold mb-3">Fiber</h4>
        <p class="text-gray-500 mb-3">
          With Fiber, you can setup your own personal portfolio in minutes with
          dozens of premade, beautiful templates.
        </p>
        <p class="text-gray-500">Made with &hearts; in the Netherlands.</p>
      </div>
      <div class="lg:flex lg:flex-row lg:justify-between lg:gap-x-10">
        <FooterLinkListComponent />
      </div>
    </div>
  </footer>
</template>

<script>
import FooterLinkListComponent from "@/components/FooterLinkListComponent";
export default {
  name: "FooterComponent",
  components: { FooterLinkListComponent },
};
</script>
