<template>
  <div class="bg-amber-50 px-10 pb-10 pt-0">
    <div
      :ref="observeElement"
      class="md:mx-auto md:max-w-screen-md lg:max-w-screen-lg lg:flex lg:flex-row-reverse lg:items-center animate__animated"
    >
      <div class="mb-5 lg:w-1/2">
        <img src="@/assets/images/hero-Illustration.png" alt="Heo image" />
      </div>
      <div class="lg:w-1/2">
        <div class="hidden lg:flex lg:gap-x-5 lg:mb-3">
          <div class="flex flex-row gap-x-2">
            <img src="@/assets/images/star.svg" alt="Star icon" />
            <img src="@/assets/images/star.svg" alt="Star icon" />
            <img src="@/assets/images/star.svg" alt="Star icon" />
            <img src="@/assets/images/star.svg" alt="Star icon" />
            <img src="@/assets/images/star.svg" alt="Star icon" />
          </div>
          <div>
            <p>Rated 4.8/5 (243 reviews)</p>
          </div>
        </div>
        <h1 class="text-3xl lg:text-5xl font-extrabold mb-5">
          Create your portfolio in minutes.
        </h1>
        <p class="text-gray-500 mb-5">
          With Fiber, you can setup your own personal portfolio in minutes with
          dozens of premade, beautiful templates.
        </p>
        <div class="lg:flex lg:flex-row lg:items-center lg:w-3/4 lg:mb-10">
          <ButtonComponent to="/sign-up" color="purple-bg" class="mb-1 lg:mb-0"
            >Start Free Trail</ButtonComponent
          >
          <ButtonComponent color="bg-none" class="mb-3 lg:mb-0"
            >View Examples</ButtonComponent
          >
        </div>
        <div class="lg:flex lg:flex-row lg:items-center lg:gap-x-5">
          <div class="flex flex-row items-center text-gray-500 mb-2.5 lg:mb-0">
            <img
              src="@/assets/images/Checkmark.svg"
              alt="Checkmark icon"
              class="mr-3"
            />
            <p>No Credit Card Required</p>
          </div>
          <div class="flex flex-row items-center text-gray-500">
            <img
              src="@/assets/images/Checkmark.svg"
              alt="Checkmark icon"
              class="mr-3"
            />
            <p>10 Free Templates</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "HeroElement",
  components: { ButtonComponent },
  setup() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries
          .filter((entry) => entry)
          .map((entry) => {
            entry.target.classList.toggle(
              "animate__fadeIn",
              entry.isIntersecting
            );
            entry.target.classList.toggle(
              "animate__fadeOut",
              !entry.isIntersecting
            );
          });
      },
      {
        threshold: 0.1,
      }
    );
    const observeElement = (el) => {
      console.log(el);
      if (el) observer.observe(el);
    };

    return {
      observeElement,
    };
  },
};
</script>
