<template>
  <div class="flex flex-row md:mx-auto md:max-w-screen-md">
    <div class="text-xl font-extrabold">Fiber</div>
    <div class="ml-auto cursor-pointer">
      <img src="@/assets/images/menu.svg" alt="Menu icon" />
    </div>
  </div>
</template>

<script>
export default {
  name: "MenuMobileComponent",
};
</script>
