<template>
  <nav class="bg-amber-50 pt-10 px-10">
    <MenuMobileComponent class="lg:hidden" />
    <DesktopMenuComponent class="hidden lg:flex mx-auto" />
  </nav>
</template>

<script>
import MenuMobileComponent from "@/components/MenuMobileComponent";
import DesktopMenuComponent from "@/components/DesktopMenuComponent";
export default {
  name: "NavigationComponent",
  components: { MenuMobileComponent, DesktopMenuComponent },
};
</script>
