<template>
  <ul class="lg:flex lg:flex-row lg:gap-10">
    <ProsElementComponent
      v-for="item in list"
      :key="item.id"
      :item="item"
      class="mb-10"
    />
  </ul>
</template>

<script>
import ProsElementComponent from "@/components/ProsElementComponent";
export default {
  name: "ProsListComponent",
  components: { ProsElementComponent },

  setup() {
    const list = [
      {
        id: 1,
        imgSrc: require("@/assets/images/time.svg"),
        title: "Build in minutes",
        text: "With a selection of premade templates, you can build a portfolio in less than 10 minutes.",
      },
      {
        id: 2,
        imgSrc: require("@/assets/images/code.svg"),
        title: "Add custom CSS",
        text: "Customize your personal portfolio even more with the ability to add your own custom CSS styles.",
      },
      {
        id: 3,
        imgSrc: require("@/assets/images/allSizes.svg"),
        title: "Responsive",
        text: "All Fiber templates are fully responsive to ensure the experience is seemless across all devices.",
      },
    ];

    return {
      list,
    };
  },
};
</script>
