<template>
  <li>
    <div>
      <img :src="item.imgSrc" alt="Illustration" class="mb-3" />
      <h5 v-text="item.title" class="font-bold mb-3" />
      <p v-text="item.text" class="text-gray-500" />
    </div>
  </li>
</template>

<script>
export default {
  name: "ProsElementComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
