<template>
  <ul
    class="p-10 lg:p-0 lg:flex lg:flex-row lg:gap-x-10 md:mx-auto md:max-w-screen-md lg:max-w-screen-lg"
  >
    <ReviewElementComponent
      v-for="item in list"
      :key="item.id"
      :item="item"
      class="mb-10"
    />
  </ul>
</template>

<script>
import ReviewElementComponent from "@/components/ReviewElementComponent";
export default {
  name: "ReviewListComponent",
  components: { ReviewElementComponent },

  setup() {
    const list = [
      {
        id: 1,
        avatarImage: require("@/assets/images/User Avatar.svg"),
        userName: "Sarah Andrews",
        revenue: "$100 in revenue",
        text: "Setting up my portfolio with Fiber took no more then 10 minutes. Since then, my portfolio has attracted a lot of clients and made me more than $100k.",
        buttonText: "View Sarah's Portfolio",
      },
      {
        id: 2,
        avatarImage: require("@/assets/images/User Avatar 2.svg"),
        userName: "Mathew Higgins",
        revenue: "$20 in revenue",
        text: "I have been getting A LOT of leads ever since I used Fiber's premade templates, now I just need to work on my case studies and I'll be ready to go!",
        buttonText: "View Mathew's Portfolio",
      },
      {
        id: 3,
        avatarImage: require("@/assets/images/User Avatar 32.svg"),
        userName: "Janice Dave",
        revenue: "$30 in revenue",
        text: "I only just started freelancing this year and I have already made more than I ever made in my full-time job. The templates are just so amazing.",
        buttonText: "View Janice's Portfolio",
      },
    ];

    return {
      list,
    };
  },
};
</script>
