<template>
  <li class="border border-2 border-gray-200 rounded p-5">
    <div class="flex flex-row items-center mb-3">
      <img :src="item.avatarImage" alt="User's avatar image" class="mr-3" />
      <div class="flex flex-col text-sm">
        <h5 v-text="item.userName" class="text-purple-700 font-extrabold" />
        <p v-text="item.revenue" />
      </div>
    </div>
    <div>
      <p v-text="item.text" class="mb-5" />
    </div>
    <ButtonComponent color="border-gray">{{ item.buttonText }}</ButtonComponent>
  </li>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "ReviewElementComponent",
  components: { ButtonComponent },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
