<template>
  <div
    class="bg-purple-700 flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:gap-x-10 px-10 pt-10 rounded-md"
  >
    <div class="lg:w-2/4">
      <h2 class="text-3xl text-purple-50 font-extrabold mb-3">
        Diversify your portfolio.
      </h2>
      <p class="text-purple-50 mb-3 lg:mb-5">
        Create an even more impressive portfolio by creating case studies for
        your projects. Simply follow your step-by-step guide.
      </p>
      <ButtonComponent to="/sign-up" color="white-bg" class="mb-10 lg:w-2/4"
        >Start Free Trail</ButtonComponent
      >
    </div>
    <div>
      <img
        src="@/assets/images/page-image.png"
        alt="Illustration"
        class="h-80 object-cover rounded mx-auto"
      />
    </div>
  </div>
</template>

<script>
import ButtonComponent from "@/components/ButtonComponent";
export default {
  name: "SecondHeroElementComponent",
  components: { ButtonComponent },
};
</script>

<style scoped></style>
