<template>
  <NavigationComponent v-if="this.$route.meta.NavigationComponent ?? true" />
  <main>
    <router-view />
  </main>
  <FooterComponent v-if="this.$route.meta.FooterComponent ?? true" />
</template>

<script>
import NavigationComponent from "@/components/NavigationComponent";
import FooterComponent from "@/components/FooterComponent";
export default {
  components: { NavigationComponent, FooterComponent },
};
</script>
